* {
    box-sizing: border-box;
    color: #364C63;
    margin: 0;
  }
  
  .navbar {
    background-color: #F3B340 !important;
  }
    
  #logo {
    margin-left: 2rem;
  }
    
  #cart-symbol {
    margin-right: 2rem;
    margin-bottom: 0.8rem;
  }
  
  body {
    background-color: #F4F3EF;;
  }
  
  h1 {
    color: #364C63;
    background-color: #F3B340;
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    font-family: Copperplate, Papyrus, fantasy;
  }

  h2 {
    color: #F3B340;
    background-color: #3a5068;
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
  }
  
  #cardLayout { 
    margin-top: 10rem;

  }  

  .navbar-brand {
    color: #364C63;
    font-size: 1.8rem; 
  }
 
  #search { 
    margin-right: 1rem;
    border-color: #364C63;
    border-radius: 10px;
    border-width: 2px;
  }

  #header {
    margin-left: 10rem;
  }

  #btnCheckout {
    background-color: #f1d7a7;
    border-color: #4c6580;
    border: 1px solid;
    border-radius: 5px;
  }

 #about {
   font-size: 0.7rem;
 }